ūbody{
	font-family: 'Lato', sans-serif !important;
	}

/*Header - Section Starts...................................*/
.header-sec{
	width:100%;
	}
.logo{
	margin:5px 0 15px 0;
	}
.search{
	margin:17px 0 16px 0;
	}
.search-text{
	width:400px;
	border:1px solid #f3f3f3;
	border-radius:5px 0 0 5px;
	font-size:13px;
	color:#333;
	padding:7px 0 7px 7px;
	}
.btn-search{
	color:#fff;
	font-size:13px;
	background-color:#f26522;
	border-radius: 0 5px 5px 0;
	width:100px;
	border:1px solid #f26522;
	display:inline-block;
	}
.btn-search:hover{
	color:#002e5b;
	}
.btn-search .fa-shopping-cart{
	margin-left:-10px;
	}
.User{
	margin:17px 0 16px 0;
	display: flex;
  	justify-content: end;
	}
.cart .btn-cart{
	background-color:#1cc8ae;
	font-size:13px;
	color:#fff;
	border-radius:3px;
	width:105px;
	display:inline-block;
	}
.cart .btn-cart:hover{
	color:#002e5b;
	}
.account .btn-profile{
	background-color:#d7d7d7;
	height:38px;
	width:38px;
	border-radius:50%;
	color:#f26522;
	font-size:18px;
	display:inline-block;
	text-align:center;
	line-height:11px;
	}
.account .acc-name{
	color:#333;
	font-size:13px;
	display:inline-block;
	margin-left:5px;
	}
.account .acc-name:hover{
	text-decoration:none;
	font-weight:bold;
	}



/*...........................Navigation - Section Starts...................................*/

.navigation-sec{
	background:#f26522;
	width:100%;
	}
.navbar-nav .nav-item .nav-link{
	color:#fff !important;
	font-size:14px;
	text-transform:uppercase;
	padding:5px 20px;
	display:inline-block;
	}
.navbar-nav .nav-item .nav-link:hover{
	color:#002e5b !important;
	}
.fixed-header{
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	}

/*Banner - Section Starts...................................*/

.banner-sec{
	width:100%;
	}


/*Advertisement - Section Starts...................................*/

.advertisement-sec{
	background:#eee;
	text-transform:uppercase;
	width:100%;
	padding:30px 0 0 0;
	}
.adv-wrap{
	position:relative;
	margin-bottom:30px;
	}
.adv-wrap .adv-img{
	overflow:hidden;
	text-align:center;
	}
.adv-wrap .adv-img img{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transition:0.3s;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	}
.adv-wrap .adv-img:hover img{
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	}
.adv-wrap a:hover{
	text-decoration:none;
	}
.adv-wrap .adv-text{
	position: absolute;
	top:210px;
	left: 50%;
	transform: translate(-50%, -50%);
	width:100%;
	}
.adv-wrap .adv-text h1{
	color:#fff;
	font-weight:bold;
	font-size:28px;
	text-align:center;
	margin-bottom:-2px;
	}
.adv-wrap .adv-text p{
	color:#fff;
	font-size:14px;
	text-align:center;
	}

/*Trending-Products Section Starts...................................*/

.trending-products{
	margin-top:50px;
	width:100%;
	}
.header_trending-prod h2{
	text-transform:uppercase;
	color:#333;
	font-size:20px;
	font-weight:bold;
	}
.btn-view{
	background-color:#002e5b;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding:3px 8px;
	border-radius:3px;
	}
.btn-view:hover{
	color:#fff;
	background:#f26522;
	}
.body_trending-prod{
	margin-top:30px;
	}
.body_trending-prod .item{
	border:1px solid #eee;
	height:363px;
	padding-top:15px;
	position:relative;
	}
.item-info h2{
	font-weight:bold;
	color:#333;
	font-size:16px;
	margin-top:12px;
	}
.item-info del{
	color:#333;
	font-size:16px;
	}
.item-info b{
	font-weight:bold;
	color:#002e5b;
	font-size:16px;
	}
.item-info h3{
	font-weight:bold;
	color:#f26522;
	font-size:20px;
	margin-top:5px;
	}
.item .sale{
	background:#f26522;
	height:42px;
	width:42px;
	line-height:42px;
	border-radius:50%;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	top:13px;
	left:13px;
	}
.owl-nav button{
	margin-left:10px;
	}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span{
	background-color:#002e5b;
	color:#fff;
	font-weight:bold;
	font-size:30px;
	height:32px;
	width:32px;
	line-height:25px;
	display:inline-block;
	}
.owl-nav{
	width:100%;
	display:flex;
	justify-content:flex-end;
	position:absolute;
	top:-50px;
	}
.trending-products-2{
	margin-bottom:50px;
	}
.hover-effect{
	width:100%;
	height:365px;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	bottom:101%;
	transition:0.3s;
	}
.buttons{
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	left:50%;
	}
.btn-buy{
	background-color:#f26522;
	color:#fff;
	font-size:15px;
	display:inline-block;
	border-radius:5px;
	width:160px;
	height:40px;
	text-align:center;
	margin-bottom:20px;
	}
.btn-buy:hover{
	font-weight:bolder;
	}
.btn-cart{
	background-color:#002e5b;
	color:#fff;
	font-size:15px;
	display:inline-block;
	border-radius:5px;
	width:160px;
	height:40px;
	text-align:center;
	}
.btn-cart:hover{
	font-weight:bolder;
	color:#f26522;
	}
.prod-item-wrap:hover .hover-effect{
	bottom:0%;
	transition:2.0s;
	}
/*Payment-info - Section Starts...................................*/

.payment-info_sec{
	background:#002e5c;
	padding:37px 0 27px 0;
	width:100%;
	border-bottom:2px solid #fff;
	}
.payment-info_sec .info-wrap h3{
	color:#fff;
	font-size:16px;
	margin-top:15px;
	}
.payment-info_sec .info-wrap p{
	color:#fff;
	font-size:14px;
	width:90%;
	}


/*Footer - Section Starts...................................*/

.footer-top{
	background:#dfdfdf;
	padding:45px 0 70px 0;
	color:#6a6a6a;
	position:relative;
	}
.footer-top h4{
	font-size:16px;
	color:#6a6a6a;
	margin-bottom:20px;
	}
.row-1 p{
	font-size:14px;
	line-height:20px;
	width:90%;
	text-align:justify;
	}
.footer-top a{
	color:#6a6a6a;
	font-size:12px;
	display:block;
	margin-bottom:4px;

	}
.footer-top .row-1 a{
	font-weight:bold;
	font-size:13px;
	color:#6a6a6a;
	width:90%;
	position:absolute;
	top:90%;
	left:-3%;
	}
.footer-top .email-sub input{
	border:1px solid #c1c1c1;
	border-radius:3px 0 0 3px;
	width:180px;
	color:#6a6a6a;
	font-size:12px;
	background-color:#dfdfdf;
	}
.footer-top .email-sub .btn-Subscribe{
	color:#fff;
	display:inline-block;
	background-color:#f26522;
	font-size:12px;
	border-radius:0 3px 3px 0;
	}
.scroll-to-top{
	width:100% ;
	/*background: #  ;*/
	position:absolute;
	bottom:45px;
	left:15px;
	display:inline-block;
	font-weight:600;
	color:#002e5c;
	}
.scroll-to-top .fa-arrow-up{
	color:#f26522;
	margin-right:5px;
	}
.footer-bottom{
	background:#d4d4d4;
	padding:7px 0;
	}
.footer-bottom p{
	font-size:14px;
	color:#7e7d7d;
	}


              /*....................Media Query - Section Starts...............*/

@media(max-width:992px){
	.logo{
		text-align:center;
		padding:10px 0;
		margin-bottom:0px;
		}
	.search{
		margin:0 auto;
		}
	.search-text{
		width:250px;
		}
	.btn-search{
		font-size:12px;
		width:80px;
		}
	.User{
		width:100%;
		display: flex;
  		justify-content: center;
		}
	.cart .btn-cart{
		margin-right: 15px;
		}
	.owl-nav{
		margin:15px 0;
		}
	.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span{
		font-size:20px;
		height:28px;
		width:28px;
		line-height:22px;
	}
	.adv-wrap .adv-text h1{
		font-size:22px;
		}
	.adv-wrap .adv-text p{
		font-size:12px;
		}
	.footer-top .row-1{
		margin-bottom:30px;
		}
	.footer-top .row-2{
		margin-bottom:20px;
		}
	.footer-top .row-3{
		margin-bottom:20px;
		}
	.footer-top .row-4{
		margin-bottom:20px;
		}
	.footer-top h4{
		margin-bottom:10px;
		}
	.footer-top .row-1 .read-more{
		top:90%;
		margin-bottom:10px;
		}
	.footer-top .email-sub input{
		width:300px;
		}
	.scroll-to-top{
		top:75px;
		right:-15px;
		}
	}
